.CartItems {
  font-family: 'Roboto Slab', serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-flow: wrap;
  justify-content: center;
  margin-right: 411px;
  margin-top: 40px;
}
