.Cart {
  font-family: 'Roboto Slab', serif;
}

.CartAndTotal {
  display: flex;
  justify-content: center;
  
}

.CartTotal {
  border: 1px solid black;
  margin-left: 605px;
  border-radius: 10px;
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;


}

.Cart h1 {
  margin: 20px;
}

.CartTotalTax {
  border-bottom: 3px solid black;
  padding-bottom: 20px;
  margin: 0 20px;
}
  