.Cart {
  font-family: 'Roboto Slab', serif;
}

.CartAndTotal {
  display: flex;
  justify-content: center;
  
}

.CartTotal {
  border: 1px solid black;
  margin-left: 605px;
  border-radius: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}

.Cart h1 {
  margin: 20px;
}

.CartTotalTax {
  border-bottom: 3px solid black;
  padding-bottom: 20px;
  margin: 0 20px;
}
  
#state {
  width: 80px;
  margin-right: 14px;
}

#zip {
  width: 80px;
}

.StateAndZip {
  text-align: left;
  margin-top: 9px;
  margin-bottom: 50px;
}

label {
  text-align: left;
  margin-left: 12px;
}

.AddressForm {
  margin-top: 5px;
}

#fname, #adr, #city{
  margin: 12px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.btn-primary {
  margin-left: 15px;
  margin-top: 20px;
}