.ProductPage {
  font-family: 'Montserrat', sans-serif; 
  margin-top: 30px;
}

.DisplayPhoto {
  height: 880px;
  width: 770px;
  display:flex;
  flex-direction:column;
  margin-top: -6px;
  margin-left: 110px;
}

.card-text {
  width: 490px;
  margin-left: 400px;
}

.Image-Stack {
  display: flex;
}

.DescriptionCard {
  width: 440px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.ProductPage button {
  margin-top: 20px;
}

.card-body {
  display: flex;
  margin-left: -20px;
}

#nutrition-image {
  height: 440px;
  margin-bottom: 35px;
}

.ProductOverview {
  margin: 0 auto;
}

.NutritionText {
  position: absolute;
  right: 343px;
  border-bottom: 1px solid black;
}

.OverviewText {
  margin: 20px 75px;
  border-bottom: 1px solid black;

}