.ProductPage {
  font-family: 'Roboto Slab', serif;  
  margin-top: 30px;
}

.DisplayPhoto {
  height: 880px;
  width: 870px;
  display:flex;
  flex-direction:column;
  margin-top: -17px;
}

.card-text {
  width: 490px;
  margin-left: 400px;
}

.Image-Stack {
  display: flex;
}

.DescriptionCard {
  width: 440px;
  margin: 0 auto;
}

.ProductPage button {
  margin-top: 20px;
}

.card-body {
  display: flex;
}

#nutrition-image {
  height: 440px;
  margin-bottom: 50px;
}

.ProductOverview {
  margin: 0 auto;
}

