.ProductPage {
  font-family: 'Montserrat', sans-serif; 
  margin-top: 30px;
}

.DisplayPhoto {
  height: 870px;
  width: 750px;
  display:flex;
  flex-direction:column;
  margin-top: -6px;
  margin-left: 140px;
}

.card-text {
  width: 490px;
  margin-left: 400px;
}

.Image-Stack {
  display: flex;
}

.DescriptionCard {
  width: 440px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.ProductPage button {
  margin-top: 20px;
}

.card-body {
  display: flex;
  margin-left: -20px;
}

#nutrition-image {
  height: 440px;
  margin-bottom: 35px;
}

.ProductOverview {
  margin: 0 auto;
  margin-top: -40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NutritionText {
  margin: 15px 163px;
  border-bottom: 1px solid black;
  display: inline-block;
}

.OverviewText {
  margin: 20px 93px;
  border-bottom: 1px solid black;
  display: inline-block;
} 

.btn-primary:hover {
  color: #007bff;
  background-color: #fff;
  border-color: black; 
}

.LogToBuyTxt {
  padding-top: 10px;    
}