.Product {
  padding: 20px;
  align-items: center;
  display: flex;
  width: 600px;
  display: flex;
  margin: 0 auto;
  border-radius: 8px;
  margin: 45px; 
}

.Product img {
  height: 200px;
  margin-right: 40px;
}

.Product button {
  margin-top: 200px;
  margin-left: 50px;
}

#product-price {
  padding-left: 21px;
  margin-bottom: -193px;
}

.Product .Icon {
  height: 40px;
  width: 40px;
  margin-top: -229px;
  margin-right: -260px;
}