.NavBar-welcome {
  color: rgb(13, 102, 140);
  display: flex;
  right: 0;
  position: absolute;
  padding: 7px;
}

.NavBar-link {
  color: white;
  text-decoration: none;
}

.NavBar {
  background-color:  black;
  height: 50px;
  color: white;
}

.NavBar-auth {
  position: absolute;
  right: 0;
  margin-top: 3px;
  padding-right: 8px;
}

.NavBar-unauth {
  position: absolute;
  right: 0;
  margin-top: 15px;
  padding-right: 8px;
}