.NavBar-welcome {
  color: #59B0EA;
  display: flex;
  right: 0;
  position: absolute;
  padding: 7px;
}

.NavBar {
  height: 65px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: row;
  background: repeating-linear-gradient(90deg,
    black,
    #303030
  )
}

.NavBar h1 {
  font-family: 'Archivo Black', sans-serif;
  color:white;
  margin: 0 auto;
  padding-top: 5px;
}

.NavBar img {
  height: 60px;
  width: 60px;
  display: flex;
  margin-top: 3px;
  margin-left: 140px;
  position: absolute;
}

.NavBar-link {
  color:  white;
  text-decoration: none;
  font-size: 17px;
}

.NavBar-Text {
  font-size: 30px;
}

.NavBar-auth {
  padding: 4px;
  position: absolute;
  right: 0;
  margin-right: 140px;
}

.NavBar-unauth {
  padding: 15px;
  position: absolute;
  right: 0;
}
