.NavBar-welcome {
  color: rgb(13, 102, 140);
  display: flex;
  right: 0;
  position: absolute;
  padding: 7px;
}
.NavBar {
  height: 65px;
  color: black;
  font-family: 'Jockey One', sans-serif;
  display: flex;
  flex-direction: row;
}

.NavBar h1 {
  color: darkblue;
}

.NavBar img {
  height: 60px;
  width: 60px;
  display: flex;
  margin: 20px;
}

.NavBar-link {
  color: black;
  text-decoration: none;
  font-size: 20px;

}

.NavBar-Text {
  font-size: 30px;
}

.NavBar-auth {
  padding: 15px;
  position: absolute;
  right: 0;
}

.NavBar-unauth {
  padding: 15px;
  position: absolute;
  right: 0;
}
