.CartItem-Descriptions {
  padding: 50px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.CartItem {
  border: 1px solid black;
  width: 400px;
  height: 511px;
  border-radius: 30px;
  margin: 10px;
}

.CartItem img {
  height: 200px;
  margin-top: 30px;
}

.HeadingAndPic {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.CartItem h4 {
  margin: 20px;
}

.CartItem h1 {
  padding-top: 20px;
}

.input-group-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
  margin-left: 1px;
}

.input-group-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}

.input-group-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}

.input-group-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}

.input-group-vertical i {
  position: absolute;
  top: 0;
  left: 4px;
}

.InputSpinner {
  display: flex;
  width: 38px;
}

.QuantityAndSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control {
  text-align: center;
  padding: 0;
}

input:focus{
  outline:none;
}